<div class="eaIdentitymgmtlib-wListBuilder">
    <div class="ebLoader" e-id="loader">
        <div class="ebLoader-Holder">
            <span class="ebLoader-Dots"></span>
        </div>
    </div>
    <section class="eaIdentitymgmtlib-wListBuilder-treeHolder {{#if sourceTopMargin}}eaIdentitymgmtlib-wListBuilder_margin_title{{/if}}" e-id="sourceTreeHolder"></section>
    <div class="eaIdentitymgmtlib-wListBuilder-menuHolder {{#if menuTopMargin}}eaIdentitymgmtlib-wListBuilder_margin_title{{/if}}">
        <e-element src="./menu/Menu" e-id="menu" e-options="menuOptions"/>
    </div>
    <section class="eaIdentitymgmtlib-wListBuilder-treeHolder {{#if destinationTopMargin}}eaIdentitymgmtlib-wListBuilder_margin_title{{/if}}" e-id="destinationTreeHolder"></section>
</div>
<e-link src="./_listBuilder.less"/>
