<div class="elIdentitymgmtlib-wTableSettingsForm">
    <div class="elIdentitymgmtlib-wTableSettingsForm-content eb_scrollbar"></div>
    <div class="elIdentitymgmtlib-wTableSettingsForm-controls">
        <button class="ebBtn ebBtn_color_darkBlue elIdentitymgmtlib-wTableSettingsForm-apply">{{tableSettingsForm.buttons.apply}}</button>
        <button class="ebBtn elIdentitymgmtlib-wTableSettingsForm-cancel">{{tableSettingsForm.buttons.cancel}}</button>
    </div>
</div>
