<div class="elIdentitymgmtlib-wTableSettings">
        <div class="elIdentitymgmtlib-wTableSettings-buttonHolder">
            <button class="ebBtn ebBtn_subtle elIdentitymgmtlib-wTableSettings-settingsButton">
                <i class="ebIcon ebIcon_settings"></i>
            </button>
        </div>
</div>
